{% extends 'analyzer/base.html' %}

{% block content %}
<div class="document-list-container">
    <h2>Uploaded Documents</h2>
    <ul class="document-list">
        {% for doc in documents %}
            <li class="document-item">
                <a href="{% url 'document_detail' doc.id %}">{{ doc.title }}</a>
                <span class="doc-type">{{ doc.doc_type }}</span>
                <span class="doc-category">{{ doc.category }}</span>
                <a href="{% url 'download_summary_pdf' doc.id %}" class="download-link">Download Summary PDF</a>
            </li>
        {% empty %}
            <li class="document-item empty">No documents uploaded yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
